html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #002b36;
    font-family: monaco;
    font-weight: 800;
    margin: 0;
}

h1 {
    color: #2aa198;
    font-size: 42px;
    margin: 20px 20px;
}

.content {
    width: 100%;
}

.carousel {
    //background-color: #002b36;
    background-color: #002028;
    width: 1280px;
    //border-top: 1px solid #2aa198;
    //border-bottom: 1px solid #2aa198;
}

.itemsScrollPane {
    overflow: auto;
    white-space: nowrap;
    padding-right: 6px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.block {
}

.labelPane {
    float: left;
    background-color: #073642;
    color: #2aa198;
    padding: 19px;
}

.itemPane {
    background-color: #002b36;
    display: inline-block;
    border: 1px solid #678CB1;
    border-radius: 12px;
    padding: 12px;
    margin: 6px 0px 6px 6px;
}

.row {
    padding: 4px;
}

.label {
}

.itemValue {
}

.string {
    color: #6c71c4;
}

.number {
    color: #268bd2;
}

.wUnits {
    color: #859900;
}

.highlightedLabel {
    color: #d33682;
}

.highlightedToggle {
    color: #ffffff;
}

.highlightedItem {
    background-color: #073642;
}

.sortToggle {
    margin-left: 8px;
}
